.header__burger__btn {
    display: none;
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    background: none;
}

.header__burger__btn span {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    left: 5px;
}

.header__burger__btn span:nth-child(1) {
    transform: translateY(10px);
}

.header__burger__btn span:nth-child(3) {
    transform: translateY(-10px);
}


.container__list__menu {
    color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    background: -webkit-linear-gradient(180deg, rgb(28, 28, 28) 5%, rgb(32, 163, 134) 100%);
    background: -moz-linear-gradient(180deg, rgb(28, 28, 28) 5%, rgb(32, 163, 134) 100%);
    background: linear-gradient(180deg, rgb(28, 28, 28) 5%, rgb(32, 163, 134) 100%);
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}


.container__list__menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vh;
    max-height: 100vh;
    transform: translateX(0);
    opacity: 1;
}

.container__list__menu.closed {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    width: 45vw;
    max-width: 45vw;
    height: 100vh;
    opacity: 0;
    
}

.block__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.close__btn__menu {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 22px;
}

.close__btn__menu span {
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    right: 5px;
}

.close__btn__menu span:nth-child(1) {
    transform: rotate(45deg);
}

.close__btn__menu span:nth-child(2) {
    transform: rotate(-45deg);
}

.link {
    text-decoration: none;
    color: white;
}

.ul {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.block__btn {
    margin-block: 50px;
}

.btn__for__exchange__two {
    background-color: #12b8aa;
    padding: 10px 25px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    animation: shadow 1s ease infinite;
    user-select: none;
}

.block__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.block__info__three {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 25px;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(28, 125, 117, 0.8);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(28, 125, 117, 0);
    }
}


@media(max-width: 850px) {

    .header__burger__btn {
        display: block;
    }
}