.main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding-block: 5em;
    background-color: black;
    color: white;
}

.zagolovok__info {
    color: aqua;
    font-size: 20px;
    margin-inline: 10vw;
}


.section {
    display: flex;
    justify-content: space-between;
    margin-inline: 10vw;
}

.block__text {
    max-width: 450px;
    font-size: 20px;
}

.zagolovok__block{
    font-size: 50px;
}

.li{
   margin-block: 1em;
}