.main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding-block: 5em;
    background-color: black;
    color: white;
}

.zagolovok__info {
    color: aqua;
    font-size: 20px;
    margin-inline: 10vw;
}


.section {
    display: flex;
    justify-content: space-between;
    margin-inline: 10vw;
}

.block__text {
    max-width: 450px;
    font-size: 20px;
}

.zagolovok__block{
    font-size: 50px;
}

.li{
   margin-block: 1em;
}



@media(max-width:550px){
    .zagolovok__info{
        font-size: 16px;
    }
    .zagolovok__block{
        font-size: 18px;
    }

    .block__text{
        max-width: 200px;
        font-size: 14px;
    }
}


@media(min-width:550px) and (max-width:850px){
    .zagolovok__info{
        font-size: 20px;
    }
    .zagolovok__block{
        font-size: 35px;
    }

    .block__text{
        max-width: 250px;
        font-size: 15px;
    }
}

